/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

.page {
  font: var(--main-text), sans-serif;
  font-variation-settings: "wght" var(--paragraph-text-weight);
  background-image: repeating-linear-gradient(
      #d3d3d3 0,
      #d3d3d3 2px,
      rgb(244 152 173 / 0) 2px,
      rgb(244 152 173 / 0) 4px
    ),
    repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      rgb(244 152 173 / 0) 2px,
      rgb(244 152 173 / 0) 4px
    ),
    linear-gradient(#e7e7e7, #1a1a1a);
  background-attachment: fixed;
  display: grid;
  justify-content: center;
}

.header {
  width: clamp(23.438rem, 8.929rem + 38.69vw, 43.75rem);
  margin: 100px 0 100px;
  background-color: rgb(255, 255, 255);
  border: 2px solid #1a1a1a;
}

.logo {
  font-family: PressStart2P, sans-serif;
  text-align: center;
  margin-top: clamp(7.5rem, 7.143rem + 0.952vw, 8rem);
}

.logo p {
  font-size: clamp(3.063rem, 2.348rem + 1.905vw, 4.063rem);
}
.logo h1 {
  font-size: clamp(0.875rem, 0.473rem + 1.071vw, 1.438rem);
  margin-top: 20px;
  margin-bottom: clamp(7.5rem, 6.923rem + 2.46vw, 8rem);
  text-transform: uppercase;
}

main {
  display: grid;
  justify-content: center;
}

.card-list {
  width: clamp(23.438rem, 8.929rem + 38.69vw, 43.75rem);
}

.card {
  background-color: rgb(255, 255, 255);
  border: 2px solid #1a1a1a;
  margin-bottom: 50px;
  font-family: Inter-Variable, sans-serif;
  font-size: 18px;
}

.card h2 {
  font-variation-settings: "wght" 700;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 3px;
  line-height: 22px;
}

.card img:not(button > img) {
  width: 100%;
  border-top: 2px solid #1a1a1a;
  border-bottom: 2px solid #1a1a1a;
}

.card-image {
  position: relative;
}

.label {
  font-family: PressStart2P, sans-serif;
  font-size: 14px;
  position: absolute;
  right: clamp(0.625rem, -0.457rem + 4.62vw, 1.563rem);
  top: 25px;
  mix-blend-mode: hard-light;
  opacity: 50%;
  text-shadow: 1px 1px rgba(255, 255, 255), -1px 1px rgba(255, 255, 255),
    -1px -1px rgba(255, 255, 255), 1px -1px rgba(255, 255, 255);
}

@supports ((text-stroke: 1px #ffffff) or (-webkit-text-stroke: 1px #ffffff)) {
  .label {
    -webkit-text-stroke: 1px #ffffff;
    text-shadow: none;
  }
}

.card-img-brightness {
  filter: brightness(200%);
}

.card-img-blur {
  filter: blur(20px);
}

.card-img-contrast {
  filter: contrast(200%);
}

.card-img-grayscale {
  filter: grayscale(50%);
}

.card-img-hue-rotate {
  filter: hue-rotate(0.5turn);
}

.card-img-invert {
  filter: invert(100%);
}

.card-img-multi-filter {
  filter: sepia(1) contrast(2) brightness(200%);
}

.card p {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 27px;
}

.card p:first-of-type {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 22px;
}

.card p:last-of-type {
  margin-bottom: 25px;
}

.like-button-group {
  display: flex;
  justify-content: end;
}

.card__icon-button {
  border: 2px solid rgb(0, 0, 0, 0);
  margin-right: 5px;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition: border 0.3s ease;
  display: flex;
  margin-bottom: 25px;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid rgb(0, 0, 0);
  position: relative;
}

.button {
  cursor: pointer;
  width: 130px;
  margin-right: 25px;
  margin-bottom: 25px;
  border-radius: 0;
  background-color: #ffffff;
  font-family: PressStart2P, sans-serif;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  padding: 0;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px rgb(0 0 0);
}

.button__text {
  position: relative;
  z-index: 1;
  color: #ffffff;
  mix-blend-mode: difference;
  margin-top: 10px;
  margin: 10px 0 10px;
  display: inline-block;
}

.button:hover::before {
  width: 100%;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  background-color: rgb(0, 0, 0);
  transition: width 0.5s ease-in-out;
}

.like-icon {
  width: 39px;
  justify-content: center;
}

.save_button {
  height: 85px;
  width: clamp(18.75rem, -4.004rem + 100.02vw, 21.3rem);
  border-radius: 0;
  font-family: PressStart2P, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  margin-bottom: 100px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: mix-blend-mode 0.5s ease-in-out;
}

.save_button:hover::before {
  width: 100%;
}

.save_button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  background-color: rgb(0, 0, 0);
  transition: width 0.5s ease-in-out;
}

.floppy-icon {
  color: #ffffff;
  mix-blend-mode: difference;
  width: 29px;
}

.diaolg-floppy:is([open]) {
  width: clamp(21.313rem, 21.04rem + 1.36vw, 22.063rem);
  border: 2px solid #1a1a1a;
  display: inline-block;
  font-family: PressStart2P, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  margin: auto;
  padding: 30px 42px 0;
}

.save-button {
  margin-right: 0;
  justify-self: center;
  width: 314px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-button .floppy-icon {
  width: 28px;
  margin-top: 5px;
}

.save-button .button__text {
  margin-top: 8px;
  margin-bottom: 5px;
}

@media (min-width: 376px) {
  .save-button {
    margin-right: 0;
    justify-self: center;
    width: 340px;
    padding: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row;
  }

  .button__text {
    margin: 10px 0 10px;
  }

  .save-button .floppy-icon {
    width: 22px;
    margin-right: 7px;
    margin-left: 10px;
  }

  .diaolg-floppy:is([open]) {
    padding: 30px 30px 0;
  }
}

.diaolg-floppy-close {
  display: flex;
  line-height: 150%;
  margin-bottom: 30px;
}

.diaolg-floppy .button {
  width: 100%;
  margin-right: 0;
}
.diaolg-floppy .floppy-text {
  margin: 0;
}

.floppy-close-button:hover::before {
  width: 100%;
}

.floppy-close-button::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 0;
  background-color: rgb(0, 0, 0);
  transition: width 0.5s ease-in-out;
}

.diaolg-floppy .floppy-icon {
  margin-right: 20px;
  margin-top: 0px;
  width: 89px;
  margin-left: 0;
}

.diaolg-floppy .card__icon-button {
  width: 100%;
  margin-bottom: 30px;
}

.diaolg-floppy::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: #1a1a1a;
  transition: fill 0.3s linear;
}

.like-icon:active .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  fill: #ff0000;
  transition: fill 0.3s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: #1a1a1a;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: #ff0000;
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: #ff0000;
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s 1;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: heart-sparks 0.3s ease-in 0.3s 1;
}

.like-icon:active .contour {
  fill: #1a1a1a;
  transition: fill 0.1s linear;
}
